<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js fonts-loading" lang="en">
	<!--<![endif]-->
	<head>
		{% block meta %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		{% endblock %}
		<link rel="canonical" href="{% block canonical %}{% endblock %}"/>
		<title>{% block title %}{% endblock %}{% block post_title %} - Wintersmith site {% endblock %}</title>
		{% block post_head %}{% endblock %}
	</head>
	<body>
		<header role="masthead">
			<div class="row">
				<div class="small-4 columns align-left">
					<nav class="leftNav">
						<ul class="inline-list">
							<li><a href="/about/">About</a></li>
							<li><a href="/articles/">Blog</a></li>
						</ul>
					</nav>
				</div>
		</header>
		{% block content %}
		{% endblock %}
		<footer>
			<div class="row">
				<div class="large-11 small-9 columns">
					<b>&copy; 2007-2015 sf</b><br /><a href="/content-policy/">Content Policy</a> | <a href="/terms-of-use/">Terms of Use</a> | <a href="/privacy-policy/">Privacy</a>
				</div>
			</div>
		</footer>
		{% block post_footer %}
		{% endblock %}
		<script type="text/javascript">
		/*
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-xxxx-xx']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();*/
		</script>
	</body>
</html>